*{
    margin: 0;
    padding: 0;
}
body{
    font-family:cursive;
}
:root{
    --eps-h1: 2em;
    --eps-border-50: .5em;
    --eps-margin-50: .5rem;
}
.border-50{
    border-radius: var(--eps-border-50);
}
.padding-50{
    padding: var(--eps-margin-50);
}
.container{
    height: 100vh;
    background: #fff;
}
.container-boton{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 90%;
    gap:.5rem;
}
.title-btn{
    font-size: var(--eps-h1);
}

.content{
    display: grid;
    grid-template-columns: repeat(Auto-fit,minmax(300px,1fr));
    grid-template-rows:  repeat(2,80px);
    grid-auto-rows: 80px;
    gap: .5em;
}
.content-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: .5rem;
    border: .15rem solid #1221D1 ;
    gap:0.5rem
}
.title-primary{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* La clase btn general para todo los botones sin estilos.*/
.btn{
    font-weight: 500;
    border-radius: 0.35rem;
    border: transparent;
    color: #000;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
}
/*Boton Primario con estilo normal*/
.btn-primary {
    color: #fff;
    background-color: #3342F5;
    transition: .8s ease;   
}
.btn-primary:hover{
    background-color: #1221D1;
}

.content-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: .5rem;
    border: .15rem solid #3c3e58 ;
    gap:0.5rem
}
.title-secondary{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-secondary {
    color: #fff;
    background-color: #5e5e6b;
    transition: .8s ease;   
}
.btn-secondary:hover{
    background-color: #3c3e58;
}

.content-success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: .5rem;
    border: .15rem solid #14c047 ;
    gap:0.5rem
}
.title-success{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-success {
    color: #fff;
    background-color: #14db53;
    transition: .8s ease;   
}
.btn-success:hover{
    background-color: #14c047;
}

.content-success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: .5rem;
    border: .15rem solid #14c047 ;
    gap:0.5rem
}
.title-success{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-success {
    color: #fff;
    background-color: #14db53;
    transition: .8s ease;   
}
.btn-success:hover{
    background-color: #14c047;
}
.content-danger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: .5rem;
    border: .15rem solid #df1e1e ;
    gap:0.5rem
}
.title-danger{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-danger {
    color: #fff;
    background-color: #f62121;
    transition: .8s ease;   
}
.btn-danger:hover{
    background-color: #df1e1e;
}