*{
    margin: 0;
    padding: 0;
}
body{
    font-family:cursive;
}
:root{
    --eps-h1: 2em;
    --eps-border-50: .5em;
    --eps-margin-50: .5rem;
}
.border-50{
    border-radius: var(--eps-border-50);
}
.padding-50{
    padding: var(--eps-margin-50);
}
.container{
    height: 100vh;
    background: #fff;
}
.container-boton{
    display: grid;
    gap:.5rem;
    padding: 10px;
}
.title-btn{
    font-size: var(--eps-h1);
}
.btn{
    display: flex;
    font-weight: 500;
    border-radius: 0.5rem;
    border: .15rem solid rgb(149, 56, 56);
    text-transform: capitalize;
    height: 40px;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: .8rem;

}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border: .12rem solid rgb(158, 29, 29);
}
.content{
    display: grid;
    grid-template-columns: repeat(Auto-fit,minmax(350px,1fr));
    grid-template-rows:  repeat(2,100px);
    grid-auto-rows: 100px;
    gap: .5em;
}
.btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e0f0ff;
    border-radius: .5rem;
    border: .15rem solid #0d6efd ;
}
