*{
    margin: 0;
    padding: 0;
}

:root { 
    --eps-blue: #3342F5;
    --eps-red: #f62121;
    --eps-yellow: #ffcc12;
    --eps-green: #14db53;
    --eps-cyan: #4c9ef1;
    --eps-white: #fff;
    --eps-white-light: #faf1f1;
    --eps-gray: #5e5e6b;
    --eps-black: #000;
    --eps-black-light: #1c1919;
    --eps-primary: #1221D1;
    --eps-secondary: #3c3e58;
    --eps-success: #14c047;
    --eps-info: #228ff5;
    --eps-warning: #f5c20c;
    --eps-danger: #df1e1e;
    --eps-light: #f1ebeb;
    --eps-dark: #080808;
}

body{
    font-family:cursive;
}
:root{
    --eps-h1: 2em;
    --eps-border-50: .5em;
    --eps-margin-50: .5rem;
}
.border-50{
    border-radius: var(--eps-border-50);
}
.padding-50{
    padding: var(--eps-margin-50);
}
.container{
    height: 100vh;
    background: #fff;
}
.container-boton{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 90%;
    gap:.5rem;
}
.title-btn{
    font-size: var(--eps-h1);
}

.content{
    display: grid;
    grid-template-columns: repeat(Auto-fit,minmax(300px,1fr));
    grid-template-rows:  repeat(2,80px);
    grid-auto-rows: 80px;
    gap: .5em;
}
/* La clase btn general para todo los botones sin estilos.*/
.button{
    font-weight: 600;
    border-radius: 0.35rem;
    border: transparent;
    color: var(--eps-black);
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
}

.content-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-primary) ;
    gap:0.5rem
}
.title-primary{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Boton Primario con estilo normal*/
.eps-primary {
    color: var(--eps-white);
    background-color: var(--eps-blue);
    transition: .8s ease;   
}
.eps-primary:hover{
    background-color: var(--eps-primary);
}

.content-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-secondary) ;
    gap:0.5rem
}
.title-secondary{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-secondary {
    color: var(--eps-white);
    background-color: var(--eps-gray);
    transition: .8s ease;   
}
.eps-secondary:hover{
    background-color: var(--eps-secondary);
}

.content-success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-success) ;
    gap:0.5rem
}
.title-success{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-success {
    color: var(--eps-white);
    background-color: var(--eps-green);
    transition: .8s ease;   
}
.eps-success:hover{
    background-color: var(--eps-success);
}

.content-danger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-danger) ;
    gap:0.5rem
}
.title-danger{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-danger {
    color: var(--eps-white);
    background-color: var(--eps-red);
    transition: .8s ease;   
}
.eps-danger:hover{
    background-color: var(--eps-danger);
}

.content-warning{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-warning) ;
    gap:0.5rem
}
.title-warning{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-warning {
    color: var(--eps-white);
    background-color: var(--eps-yellow);
    transition: .8s ease;   
}
.eps-warning:hover{
    background-color: var(--eps-warning);
}

.content-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-info) ;
    gap:0.5rem
}
.title-info{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-info {
    color: var(--eps-white);
    background-color: var(--eps-cyan);
    transition: .8s ease;   
}
.eps-info:hover{
    background-color: var(--eps-info);
}

.content-light{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-light) ;
    gap:0.5rem
}
.title-light{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-light {
    color: #000;
    background-color: var(--eps-white-light);
    transition: .8s ease;   
}
.eps-light:hover{
    background-color: var(--eps-light);
}

.content-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--eps-white);
    border-radius: .5rem;
    border: .15rem solid var(--eps-dark) ;
    gap:0.5rem
}
.title-dark{
    font-size: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eps-dark {
    color: var(--eps-white);
    background-color: var(--eps-black-light);
    transition: .8s ease;   
}
.eps-dark:hover{
    background-color: var(--eps-dark);
}